<div class="mt-4">
    <app-titulo [modulo]="titulo" [mostrar]="true"></app-titulo>
    <div class="col-md-3 ms-5 ps-5 mt-4">
        <div class="mb-1 fw-bold">
            <label>Buscar por</label>
        </div>
        <div class="input-group">
            <span class="input-group-text fondo-blanco color-gris cursor" (click)="buscar(texto.value)"><i class="fa-solid fa-magnifying-glass"></i></span>
            <input type="text" class="form-control lineas-buscadores" placeholder="Nombre usuario" #texto id="caja">
            <span class="input-group-text fondo-blanco color-gris cursor" (click)="borrar()" id="cancel">
                <i class="fa-solid fa-circle-xmark"></i>
            </span>
        </div>
    </div>
    <div class="ms-5 me-5 ps-5 pe-5 mt-4">
        <table class="table">
            <thead class="fondo-gris">
                <tr class="text-center">
                    <th scope="col">Nombre funcionario</th>
                    <th scope="col">Nombre usuario</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Cargo</th>
                    <th scope="col">Área</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios | paginate: { itemsPerPage: 4, currentPage: pagina }" class="text-center">
                    <td>{{ usuario.firtsName }} {{ usuario.lastName }}</td>
                    <td>{{ usuario.userName }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.position }}</td>
                    <td>{{ usuario.area }}</td>
                    <td>
                        <a class="text-primary cursor me-3" [routerLink]="['cons-func-rol-usu', usuario.adUserId]"><i class="fa-sharp fa-solid fa-eye"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-end mt-2">
            <pagination-controls class="clase-paginador" (pageChange)="pagina = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
        </div>
    </div>
</div>